# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Project-specific ignores
audiogram_dataset/
new_dataset/
processed_data/
models/
*.png